.App {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    max-width: 700px;
    // min-height: 700px;
    border-radius: 5px;
    padding: 3em;
    margin: 3em;
    background-color: white;

    h2 {
      color: #ec6f66;
      font-family: "Raleway", sans-serif;
      font-size: 2em;
    }

    h3 {
      color: #ec6f66;
      font-family: "Raleway", sans-serif;
      // font-size: 1.2em;
    }

    .subheader {
      color: rgba(0, 0, 0, 0.87);
      font-size: 1em;
    }

    .btnContainer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
