html {
  // margin: 0;
  // background-repeat: no-repeat;
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: -webkit-linear-gradient(
    90deg,
    #ec6f66 10%,
    #f3a183 90%
  ); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(
    90deg,
    #ec6f66 10%,
    #f3a183 90%
  ); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #ec6f66 10%, #f3a183 90%); /* IE10 */
  background: -o-linear-gradient(
    90deg,
    #ec6f66 10%,
    #f3a183 90%
  ); /* Opera 11.10+ */
  background: linear-gradient(90deg, #ec6f66 10%, #f3a183 90%); /* W3C */

  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  .icon {
    margin: 10px;
    color: #feea3b;

    i {
      font-size: 1.8em;
    }

    &:hover {
      color: #fec00a;
      transition: 100ms linear;
    }
  }
}
